@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #1a1b1d;
}

.conteiner{
    max-width: 1200px;
    margin: 0 auto;

}

.header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 200px 0;
    position: relative;
}

img{
    max-width: 100%;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    color: #E0003E;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 70px;
}

.menu .navbar ul li{
    position: relative;
    float:left;
}

.menu .navbar ul li a{
    font-size: 18px;
    color: #FFFFFF;
    display: block;
    font-size: 600;
    padding: 20px;
}

.menu .navbar ul li a:hover{
    color: #E0003E;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-txt{
    width: 100%;
    text-align: center;
}

.header-txt h1{
    color: #FFFFFF;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.header-txt samp{
    color: #E0003E;
}

.header-txt p{
    font-size: 16px;
    color: #D5D5D5;
    padding: 0 200px;
    margin-bottom: 25px;
}

.button{
    display: flex;
    justify-content: center;
}

.btn-1{
    display: inline-block;
    background-color: #E0003E;
    padding: 13px 25px;
    width: 150px;
    margin: 0 10px;
    border-radius: 25px;
    color: #FFFFFF;
}

.btn-1:hover{
    background-color: #C30239;
}

.services{
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.service{
    text-align: center;
    padding: 35px;
}

.service img{
    width: 50px;
    height: 50px;
}

.service h3{
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

p{
    font-size: 16px;
    color: #D5D5D5;
}

.about{
    padding: 50px 0;
}

.about-content{
    display: flex;
    align-items: center;
}

.about-txt{
    flex-basis: 50%;
    padding-left: 35px;
}

samp{
    font-size: 15px;
    font-weight: 700;
    text-transform:uppercase;
    color: #C30239;
}

h2{
    font-size: 35px;
    color: #FFFFFF;
    margin: 15px 0;
    line-height: 1;
}

hr{
    border: 1px solid #C30239;
    width: 10%;
    margin-bottom: 30px;
}

.about-img{
    flex-basis: 50%;
    text-align: center;
}

.about-img img{
    width: 500px;
    border-radius: 25px;
}

.testimonial{
    padding: 50px 0;
    text-align: center;
}

.testimonial-content{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.testimonial-1{
    flex-basis: calc(50% - 25px);
    background-color:#24272E;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.testimonial-1 h4{
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 15px;
}

.testimonial-1 p{
    font-size: 15px;
    margin-bottom: 10px;
}

.face{
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}

.information{
    padding: 50px 0 100px 0;
    display: flex;
}

.information-txt{
    flex-basis:50%;
    margin-left: 100px;
}

.f1, .f2{
    width: 550px;
}

.f2{
    display: flex;
    margin-left: 55px;
}

input{
    display: block;
    padding: 17px;
    background-color: transparent;
    border:  1px solid #979797;
    width: 350px;
    margin-bottom: 25px;
    font-size: 17px;
    color: #FFFFFF;
}

::placeholder{
    color: #898989;
}

.office{
    margin: 50px 0;
    display: flex;
    align-items: center;
}

.office h3{
    font-size: 17px;
    font-weight: 500;
    margin-left: 15px;
    color: #FFFFFF;
}



.link h3{
    font-size: 17px;
    color: #FFFFFF;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.link a{
    font-size: 17px;
    color: #D4D4D4D4;
    display: block;
    margin-bottom: 10px;
}

.link a:hover{
    color: #C30239;
}

@media(max-width:1000px){

    .menu{
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #24272E;
        display: none;

    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        padding: 50px 30px;
    }

    .header-txt{
        text-align: center;
        padding: 0;
    }

    .header-txt p{
        padding: 0;
    }

    .services{
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .about{
        padding: 30px;

    }

    hr{
        display: none;
    }

    .about-content{
        flex-direction: column;
        text-align: center;
    }

    .about-txt{
        padding-bottom: 25px;
    }

    .testimonial{
        padding: 30px;

    }

    .testimonial-content{
        flex-direction: column;

    }

    .testimonial-1{
        margin-bottom: 25px;
    }

    .information{
        padding: 30px;
        flex-direction: column;
    }

    .f1, .f2{
        width: 100%;
    }

    .information-txt{
        order: -2;
        margin: 0 0 20px 0;
        text-align: center;
    }

    form{
        width: 100%;
    }

    input{
        width: 100%;
    }

}

.footer-distributed {

    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height:   1.8;
    text-decoration: none;
    color: inherit;
    
    transition: ease  .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {

    content: none;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
